#parse("/velocity/layout.vm")

#@mainLayout()
<!-- BEGIN LOGIN SECTION -->
<section class="section-account">
    <div class="img-backdrop" style="background-image: url('/img/backdrop.jpg')"></div>
    <div class="spacer"></div>
    <div class="card contain-sm style-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-offset-2">
                    <br/>
                    <span class="text-lg text-bold text-primary">$msg.get("COMMON_TITLE")</span>
                    <br/><br/>
                    <a id="toast-message" class="btn btn-block btn-raised btn-default-bright ink-reaction" style="display: none;"></a>
                    <form id="loginform" class="form floating-label" action="$WebPath.getLOGIN()" accept-charset="utf-8" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username">
                            <label for="username">$msg.get("LOGIN_LABEL_USERNAME")</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password">$msg.get("LOGIN_LABEL_PASSWORD")</label>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-6 text-right">
                                <button class="btn btn-primary btn-raised" type="submit">$msg.get("LOGIN_BUTTON_LOGIN")</button>
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </form>
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</section>
#end

#@footerScripts()
    <script type="text/javascript">
        $("#loginform").on("submit", function (event) {
            event.preventDefault();
            event.stopPropagation();
            var messageBox = $("#toast-message");
            var message = '';
            var className = '';

            $.post( "$WebPath.getLOGIN()", { username: $("#username").val(), password: $("#password").val() }, function( data ) {
                if (data.result === "authenticationFailed") {
                    message = '$msg.get("LOGIN_AUTH_FAILED")';
                    className = "text-danger";
                } else if(data.result === "authenticationSucceeded") {
                    if("loginredirect" in data) {
                        $(location).attr('href', data.loginredirect);
                    } else {
                        $(location).attr('href', '$WebPath.getINDEX()');
                    }
                }
            }).fail(function() {
                message = '$msg.get("LOGIN_NET_ERROR")';
                className = "text-danger";
            }).done(function() {
                messageBox.html('<i class="md md-notifications pull-right ' + className + '"></i>' + message);
                messageBox.fadeIn();
            });
        });
    </script>
#end
